@model WebApplication4.Models.TbAcceso

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Nuevo Registro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="createForm" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Correo de Acceso</label>
                <input asp-for="Correo" class="form-control" required />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Contraseña</label>
                <input id="password" asp-for="Clave" class="form-control" required />
                <span asp-validation-for="Clave" class="text-danger"></span>
                <small class="text-muted">La contraseña debe tener al menos 8 caracteres.</small>
            </div>
            <div class="form-group">
                <label class="control-label">Rol</label>
                <select asp-for="IdPermiso" class="form-control" asp-items="ViewBag.IdPermiso"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Usuario Asignado</label>
                <select asp-for="IdUsuario" class="form-control" asp-items="ViewBag.IdUsuario"></select>
            </div>
            <div>
                <h5 style="padding-bottom:10px;">Opciones</h5>

                <hr />
                <dd>
                    <input type="submit" value="Crear" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary">Volver</a>
                </dd>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.getElementById("createForm").addEventListener("submit", function (event) {
            var passwordInput = document.getElementById("password");
            if (passwordInput.value.length < 8) {
                // Evita que se envíe el formulario
                event.preventDefault();
                // Muestra un mensaje de error
                alert("La contraseña debe tener al menos 8 caracteres.");
            }
        });
    </script>
}
