@model WebApplication4.Models.TbAcceso

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Registro n° @Html.DisplayFor(model => model.IdAcceso)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAcceso" />
            <div class="form-group">
                <label class="control-label">Correo de Acceso</label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Contraseña</label>
                <input asp-for="Clave" class="form-control" />
                <span asp-validation-for="Clave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Rol</label>
                <select asp-for="IdPermiso" class="form-control" asp-items="ViewBag.IdPermiso"></select>
                <span asp-validation-for="IdPermiso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Usuario Asignado</label>
                <select asp-for="IdUsuario" class="form-control" asp-items="ViewBag.IdUsuario"></select>
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-check form-switch">
                <input type="hidden" asp-for="Estado" />
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" @(Model.Estado.GetValueOrDefault() ? "checked" : "")>
                <label class="form-check-label" for="flexSwitchCheckChecked">Estado</label>
            </div>
            <div>
                <h5 style="padding-bottom:10px;">Opciones</h5>

                <hr />
                <dd>
                    <input type="submit" value="Guardar" class="btn btn-primary" />

                     <a asp-action="Index" class="btn btn-secondary">Volver</a>

                </dd>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('#flexSwitchCheckChecked').change(function () {
                // Captura el nuevo estado del checkbox
                var nuevoEstado = $(this).prop('checked');

                // Cambia el valor del campo oculto según el estado del checkbox
                $('#Estado').val(nuevoEstado);

                // Envía automáticamente el formulario
                $('form').submit();
            });
        });
    </script>
}

