@model IEnumerable<WebApplication4.Models.TbPermiso>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPermiso" class="btn btn-outline-dark">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a asp-action="Details" asp-route-id="@item.IdPermiso" class="btn btn-outline-dark">
                        <i class="bi bi-arrow-up-right-square"></i>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
