@model IEnumerable<WebApplication4.Models.TbTicketsCerrado>

@{
    ViewData["Title"] = "Index";
}

<h2 class="mx-auto">Reporte de Tickets Cerrados</h2>

<div class="table-responsive">
    <iframe title="tickeds" class="embed-responsive-item" width="100%" height="600" src="https://app.powerbi.com/reportEmbed?reportId=15616472-3e0d-435c-bb3b-556965bd83f7&autoAuth=true&embeddedDemo=true" allowfullscreen></iframe>
</div>