/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    color: #1D273B;
    font-weight: 300;
}

body {
    background: #FAFAFA;
}*/

/* styles.css */
/*body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

#sideMenu {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1;
}

    #sideMenu ul {
        list-style-type: none;
        padding: 0;
    }

        #sideMenu ul li {
            padding: 10px;
            text-align: center;
        }

            #sideMenu ul li a {
                text-decoration: none;
                color: white;
                display: block;
            }

                #sideMenu ul li a:hover {
                    background-color: #555;
                }

.submenu {
    display: none;*/ /* Oculta inicialmente los submenús */
/*background-color: #444;
}

    .submenu li {
        padding: 10px;
        text-align: center;
    }

#mainContent {
    margin-left: 0;
    transition: margin-left 0.5s;
}

#toggleButton {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
}*/

/* Mostrar submenús cuando se pasa el mouse por encima */
/*#sideMenu ul li:hover .submenu {
    display: block;
}*/

/*body.dark-mode {
    background-color: #222;
    color: #fff;
    h1, h2, h3, h4, h5, h6

{
    color: #fff;  Color de texto para las etiquetas h1-h6 en el modo oscuro 
}*/
/*body, h1, h2, h3, h4, h5, h6 {
    transition: background-color 0.3s ease, color 0.3s ease;*/ /* Agregar transición para el color de fondo y el color del texto */
/*}*/

/* Estilos para el Modo Claro */
/*body.light-mode {
        background-color: #fff;*/ /* Color de fondo para el modo claro */
/*color: #1D273B;*/ /* Color de texto para el modo claro */
/*}*/

/* Estilos para el Modo Oscuro */
/*body.dark-mode {
    background-color: #222;
    color: #fff;
    h1, h2, h3, h4, h5, h6,td,a,li,input{

    color: #fff;*/ /* Color de texto para el modo oscuro */
/*}*/
/*estilos para boton para cambiar tema*/

/*.dark-mode .card {
    background-color: #333;*/ /* Cambia el color de fondo de las tarjetas */
/*color: #ddd;*/ /* Cambia el color del texto en las tarjetas */
/*}*/

.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .card .card-block {
        padding: 25px;
    }

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    height: 100%;
    font-family: "Roboto";
    background: #eeeeee;
}

a, a:hover, a:active {
    text-decoration: none;
}

a {
    color: #008DE7;
    font-style: italic;
    font-weight: 700;
}

    a:hover {
        transition: all 200ms ease-in-out;
    }

.page-container {
    background: #eeeeee;
    min-width: 1260px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0px auto;
}

.content {
    max-width: 800px;
    min-width: 600px;
    display: block;
    padding: 50px;
    margin: 50px auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    overflow: hidden;
}

.page-container.sidebar-collapsed {
    padding-left: 65px;
    transition: all 100ms linear;
    transition-delay: 300ms;
}

.page-container.sidebar-collapsed-back {
    padding-left: 280px;
    transition: all 100ms linear;
}

.page-container.sidebar-collapsed .sidebar-menu {
    width: 65px;
    transition: all 100ms ease-in-out;
    transition-delay: 300ms;
}

.page-container.sidebar-collapsed-back .sidebar-menu {
    width: 280px;
    transition: all 100ms ease-in-out;
}

.page-container.sidebar-collapsed .sidebar-icon {
    transform: rotate(90deg);
    transition: all 300ms ease-in-out;
}

.page-container.sidebar-collapsed-back .sidebar-icon {
    transform: rotate(0deg);
    transition: all 300ms ease-in-out;
}

.page-container.sidebar-collapsed .logo {
    padding: 21px;
    height: 136px;
    box-sizing: border-box;
    transition: all 100ms ease-in-out;
    transition-delay: 300ms;
}

.page-container.sidebar-collapsed-back .logo {
    width: 100%;
    padding: 21px;
    height: 136px;
    box-sizing: border-box;
    transition: all 100ms ease-in-out;
}

.page-container.sidebar-collapsed #logo {
    opacity: 0;
    transition: all 200ms ease-in-out;
}

.page-container.sidebar-collapsed-back #logo {
    opacity: 1;
    transition: all 200ms ease-in-out;
    transition-delay: 300ms;
}

.page-container.sidebar-collapsed #menu span {
    opacity: 0;
    transition: all 50ms linear;
}

.page-container.sidebar-collapsed-back #menu span {
    opacity: 1;
    transition: all 200ms linear;
    transition-delay: 300ms;
}

.sidebar-menu {
    position: fixed;
    float: left;
    width: 280px;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #303641;
    color: #aaabae;
    font-family: "Segoe UI";
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

    #menu li {
        position: relative;
        margin: 0;
        font-size: 12px;
        border-bottom: 1px solid rgba(69, 74, 84, 0.7);
        padding: 0;
    }

        #menu li ul {
            opacity: 0;
            height: 0px;
        }

        #menu li a {
            font-style: normal;
            font-weight: 400;
            position: relative;
            display: block;
            padding: 10px 20px;
            color: #aaabae;
            white-space: nowrap;
            z-index: 2;
        }

            #menu li a:hover {
                color: #ffffff;
                background-color: #333944;
                transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
            }

        #menu li.active > a {
            background-color: #2b303a;
            color: #ffffff;
        }

    #menu ul li {
        background-color: #2b303a;
    }

    #menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #menu li ul {
        position: absolute;
        visibility: hidden;
        left: 100%;
        top: -1px;
        background-color: #2b303a;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.1s linear;
        border-top: 1px solid rgba(69, 74, 84, 0.7);
    }

    #menu li:hover > ul {
        visibility: visible;
        opacity: 1;
    }

    #menu li li ul {
        left: 100%;
        visibility: hidden;
        top: -1px;
        opacity: 0;
        transition: opacity 0.1s linear;
    }

    #menu li li:hover ul {
        visibility: visible;
        opacity: 1;
    }

    #menu .fa {
        margin-right: 5px;
    }

.logo {
    width: 100%;
    padding: 21px;
    box-sizing: border-box;
}

.sidebar-icon {
    position: relative;
    float: right;
    margin-top: 32px;
    border: 1px solid #454a54;
    text-align: center;
    line-height: 1;
    font-size: 18px;
    padding: 6px 8px;
    border-radius: 3px;
    color: #888;
    background-clip: padding-box;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.4);
}

/**/


/**/


.fa-codepen {
    color: #fff;
    margin-left: 50px;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Esto es opcional, ajusta la altura según tus necesidades */
}

.toggle-button {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    cursor: pointer;
}

.toggle-button-icon {
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
}

.dark-mode .toggle-button-icon {
    transform: translateY(-50%) translateX(20px);
}

.toggle-button:hover .toggle-button-icon {
    background-color: #ddd;
}

.dark-mode .toggle-button {
    background-color: #333; /* Cambia el color de fondo en modo oscuro */
}

/* Estilo del icono de alternancia para el modo oscuro */
.dark-mode .toggle-button-icon {
    background-color: #ddd; /* Cambia el color del icono en modo oscuro */
}

.dark-mode .card {
    background-color: #333; /* Cambia el color de fondo de las tarjetas */
    color: #ddd; /* Cambia el color del texto en las tarjetas */
}

.dark-mode .page-container {
    background-color: #333;
    color: #fff;
}

.dark-mode .sidebar-menu {
    background-color: #111;
}

.dark-mode #menu li a {
    color: #aaa;
}

    .dark-mode #menu li a:hover {
        color: #fff;
        background-color: #444;
    }

.dark-mode #menu li.active > a {
    background-color: #222;
}

body, h1, h2, h3, h4, h5, h6, .page-container {
    transition: background-color 0.3s ease, color 0.3s ease; /* Agregar transición para el color de fondo y el color del texto */
}

    /* Estilos para el Modo Claro */
    body.light-mode {
        background-color: #fff; /* Color de fondo para el modo claro */
        color: #1D273B; /* Color de texto para el modo claro */
    }

    /* Estilos para el Modo Oscuro */
    body.dark-mode {
        background-color: #333;
        color: #fff;
    }

        body.dark-mode h1,
        body.dark-mode h2,
        body.dark-mode h3,
        body.dark-mode h4,
        body.dark-mode h5,
        body.dark-mode h6,
        body.dark-mode li {
            color: #fff; /* Color de texto para el modo oscuro */
        }
        body.dark-mode td {
            color: #fff;
            background-color: #333;
        }
        body.dark-mode th {
            color: #fff;
            background-color: #333;
        }
        /*estilos para boton para cambiar tema*/
        .dark-mode .card {
            background-color: #333; /* Cambia el color de fondo de las tarjetas */
            color: #ddd; /* Cambia el color del texto en las tarjetas */
        }

.dark-mode .page-container {
    background-color: #333;
    color: #fff;
}

.dark-mode .sidebar-menu {
    background-color: #111;
}

.dark-mode #menu li a {
    color: #aaa;
}

    .dark-mode #menu li a:hover {
        color: #fff;
        background-color: #444;
    }

.dark-mode #menu li.active > a {
    background-color: #222;
}

body.dark-mode .btn.btn-outline-dark {
    color: #fff; /* Color del texto en modo oscuro */
    border-color: #fff; /* Color del borde en modo oscuro */
}

    /* Estilos para el icono del botón en modo oscuro */
    body.dark-mode .btn.btn-outline-dark .bi {
        color: #fff; /* Color del icono en modo oscuro */
    }

