@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ServiceDesk</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/LayoutStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication4.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/icofont/icofont.min.css" asp-append-version="true">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.1/af-2.5.1/b-2.3.3/b-html5-2.3.3/b-print-2.3.3/date-1.2.0/fc-4.2.1/r-2.4.0/sc-2.0.7/sb-1.4.0/sp-2.1.0/sl-1.5.0/datatables.min.css"/>
 
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <img src="/images/logo.jpg" width="30" height="30" class="d-inline-block align-top rounded" alt="">
                ISE Integrados
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            <i class="icofont-home text-light"></i>
                            Inicio</a>
                    </li>
                    @if (User.IsInRole("Usuario")) {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropbtn" asp-controller="TbTickets" asp-action="UserTickets">
                                <i class="icofont-ticket text-light"></i>
                                Tickets
                            </a>
                            <div class="dropdown-content dropdown-menu">
                                <a class="nav-link" asp-controller="TbTickets" asp-action="Create">
                                    <i class="icofont-plus text-light"></i>
                                    Nuevo
                                </a>

                            </div>
                        </li>
                    }
                    @if (User.IsInRole("Técnico"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropbtn" asp-controller="TbTickets" asp-action="Index">
                                <i class="icofont-ticket text-light"></i>
                                Tickets
                            </a>
                            <div class="dropdown-content dropdown-menu">
                                <a class="nav-link" asp-controller="TbTickets" asp-action="Create">
                                    <i class="icofont-plus text-light"></i>
                                    Nuevo
                                </a>

                            </div>
                        </li>
                    }
                    @if (User.IsInRole("Administrador"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropbtn" asp-controller="TbTickets" asp-action="Index">
                                <i class="icofont-ticket text-light"></i>
                                Tickets</a>
                            <div class="dropdown-content dropdown-menu">
                                <a class="nav-link" asp-controller="TbTickets" asp-action="Create">
                                    <i class="icofont-plus text-light"></i>
                                    Nuevo
                                </a>
                                <a class="nav-link" asp-controller="TbTickets" asp-action="BuscarTicket">
                                    <i class="icofont-search-1 text-light"></i>
                                    Buscar</a>


                            </div>
                        </li>
                    }
                    @if (User.IsInRole("Administrador"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropbtn" asp-controller="TbUsuarios" asp-action="Index">
                                <i class="icofont-ui-user-group text-light"></i>
                                Usuarios</a>
                            <div class="dropdown-content dropdown-menu">

                                <a class="nav-link" asp-controller="TbUsuarios" asp-action="Create">
                                    <i class="icofont-plus text-light"></i>
                                    Nuevo
                                </a>
                                <a class="nav-link" asp-controller="TbEmpresas" asp-action="Index">
                                     <i class="icofont-bag-alt text-light"></i>
                                    
                                    Empresas
                                </a>
                                <a class="nav-link" asp-controller="TbAccesoes" asp-action="Index">
                                   <i class="icofont-ui-password text-light"></i>
                                    Accesos

                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="TbTicketsCerradoes" asp-action="Index">
                                <i class="icofont-file-document text-light"></i>
                                Reportes
                            </a>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav justify-content-end mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link me-3" asp-controller="TbUsuarios" asp-action="Details" asp-route-id="@User.FindFirst("IdUsuario").Value">
                            <i class="icofont-ui-user text-light"></i>
                            @User.Identity.Name</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light my-2 my-sm-0" asp-controller="Login" asp-action="Salir">Salir</a>
                    </li>
                 </ul>
                

            </div>
        </div>
     </nav>

    <div class="container justify-content-center">
        
            @RenderBody()
     
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ServiceDesk 
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.1/af-2.5.1/b-2.3.3/b-html5-2.3.3/b-print-2.3.3/date-1.2.0/fc-4.2.1/r-2.4.0/sc-2.0.7/sb-1.4.0/sp-2.1.0/sl-1.5.0/datatables.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<style>


    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #212529;
        padding-left:5px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: white;
            text-decoration: none;
            display: block;
            
        }



    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }


</style>