@model WebApplication4.Models.TbCategoria

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Registro n° @Html.DisplayFor(model => model.IdProblema)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre de Categoría
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Problema)
        </dd>
    </dl>
</div>
<div>
    <h5 style="padding-bottom:10px;">Opciones</h5>

    <hr />
    <dd>
        <a asp-action="Edit" asp-route-id="@Model?.IdProblema" class="btn btn-warning">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Volver</a>
    </dd>
</div>
