@model IEnumerable<WebApplication4.Models.TbCategoria>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1>Listado de Categorías</h1>
    <hr />
</div>
<p>
    <a type="button" class="btn btn-primary" asp-action="Create">
        <i class="icofont-plus text-light"></i>
        Crear Nuevo
    </a>
</p>
<table id="Secundaria" class="table align-middle">
    <thead class="table-dark">
        <tr>
            <th>
                I.D
            </th>
            <th>
                Categoría
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProblema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Problema)
            </td>
                <td class="text-center">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                        <a asp-action="Edit" asp-route-id="@item.IdProblema" class="btn btn-outline-dark">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.IdProblema" class="btn btn-outline-dark">Detalles</a>
                        
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
