@model WebApplication4.Models.TbTicket

@{
    ViewData["Title"] = "Create";
}


<h1>Crear</h1>

<h4>Nuevo Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Asunto</label>
                <input asp-for="DespricionP" class="form-control" />
                <span asp-validation-for="DespricionP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Descripción</label>
                <textarea asp-for="DescripionDetallada" class="form-control" rows="3"></textarea>
                <span asp-validation-for="DescripionDetallada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Localizacion" class="control-label"></label>
                <input asp-for="Localizacion" class="form-control" />
                <span asp-validation-for="Localizacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adjunto" class="control-label"></label>
                <input type="file" asp-for="Adjunto" class="form-control" accept="image/png, image/jpeg" />
                <span asp-validation-for="Adjunto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Prioridad</label>
                <select asp-for="IdPrioridad" class ="form-control" asp-items="ViewBag.IdPrioridad"></select>
            </div>
            <div class="form-group">

                <input type="hidden" asp-for="IdUsuario" class="form-control" value="@(ViewBag.IdUsuario)" readonly/>
            </div>
            <div class="form-group">
                
                <input type="hidden" asp-for="IdEstado" class ="form-control" value="@(ViewBag.IdEstado)" readonly/>
            </div>
            <div class="form-group">

                <input type="hidden" asp-for="IdFecha" class="form-control" value="@(ViewBag.IdFecha)" readonly/>
                
            </div>
            <div class="form-group">
                <label class="control-label">Categoria</label>
                <select asp-for="IdProblema" class ="form-control" asp-items="ViewBag.IdProblema"></select>
            </div>
            <div>
                <h5 style="padding-bottom:10px;">Opciones</h5>

                <hr />
                <dd>
                    <input type="submit" value="Crear" class="btn btn-primary" />
                    @if (User.IsInRole("Administrador") || User.IsInRole("Técnico"))
                    {
                        <a asp-action="Index" class="btn btn-secondary">Volver</a>
                    }
                    @if (User.IsInRole("Usuario"))
                    {
                        <a asp-action="UserTickets" class="btn btn-secondary">Volver</a>
                    }
                </dd>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
