
@{
    ViewData["Title"] = "AdminIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido! @User.Identity.Name</h1>
    <p>
        <section class="about-us" ">
            <div class="contenedor1">
                
                <div class="contenedor-articulo" >
                    <div class="articulo" data-aos="zoom-in >
                        <i class="fas fa-pen-fancy"></i>
                        <h3>Administrar Usuarios</h3>
                        <a class="nav-link text-dark" asp-area="" asp-controller="TbUsuarios" asp-action="index">Usuario</a>
                    </div>
                    <div class="articulo" data-aos="zoom-in>
                        <i class="fas fa-pen-fancy"></i>
                        <h3>Graphic Desing</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, sequi!</p>
                        <a href="#">Leer mas --></a>
                    </div>
                    <div class="articulo" data-aos="zoom-in>
                        <i class="fas fa-pen-fancy"></i>
                        <h3>Video Production</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, sequi!</p>
                        <a href="#">Leer mas --></a>
                    </div>
                    <div class="articulo" data-aos="zoom-in>
                        <i class="fas fa-pen-fancy"></i>
                        <h3>SEO</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, sequi!</p>
                        <a href="#">Leer mas --></a>
                    </div>
                    <div class="articulo" data-aos="zoom-in>
                        <i class="fas fa-pen-fancy"></i>
                        <h3>Digital Marketing</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, sequi!</p>
                        <a href="#">Leer mas --></a>
                    </div>
                    <div class="articulo" data-aos="zoom-in>
                        <i class="fas fa-pen-fancy"></i>
                        <h3>Crypto Currency</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, sequi!</p>
                        <a href="#">Leer mas --></a>
                    </div>

                </div>
            </div>
        </section>
</div>

