
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido! @User.Identity.Name</h1>
    @User.FindFirst("IdUsuario")
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <a type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" asp-controller="TbTickets" asp-action="Create">
                    <i class="icofont-plus"></i>
                    Nuevo Ticket
                </a>
            </div>
            <div class="col">
                Column
            </div>
            <div class="col">
                Column
            </div>
        </div>
    </div>
</div>
